$c_dark: #313131;
$c_darkgray: #666666;
$c_gray: #a1a1a1;
$c_lightgray: #c2c2c2;
$c_primary: #2F80ED;
$c_link: #4A97FF;
$c_white: white;
$c_background: #fbfbfb;
$c_red: #FF0000;
$c_backred: rgba(255, 0, 0, 0.1);
$c_modal_back: rgba(0, 0, 0, 0.5);
$def_shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);