.p0 {
    padding: 0px;
}

.p05 {
    padding: .5em;
}

.p1 {
    padding: 1em;
}

.p2 {
    padding: 2em;
}

.m0 {
    margin: 0px!important;
}

.mb05 {
    margin-bottom: .5em;
}

.mb1 {
    margin-bottom: 1em;
}

.mb2 {
    margin-bottom: 2em;
}